/* -------------------------------------------- */
/* Typography */
html {
    scroll-padding: 4rem;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
}


/* -------------------------------------------- */
/* Layout */
body {
    background-color: #1F1F1F;
}

.site-wrapper {
    max-width: 120rem;
    margin: 0 auto;
    background-color: #fff;
}


/* -------------------------------------------- */
/* Elements */
.bi {
    color: #fff;
}


/* -------------------------------------------- */
/* Links */
a {
    text-decoration: none;
    color: #7330FA;
}


/* -------------------------------------------- */
/* Components */
/* --------------------------------- */
/* Header */
.site-header {
    background-color: #7330FA;
    height: 4rem;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50px;
    height: auto;
}

#site-nav-list {
    background-color: #23186ef3;
    font-size: 1.5rem;
    line-height: 2;
    list-style: none;
    padding: 1rem 2rem;
    margin: 0;

    position: fixed;
    right: -100%;
    top: 4rem;
    bottom: 4rem;
    transition: right .5s ease;
}

#site-nav-list a {
    color: #fff;
}

#site-nav-list a:hover {
    color: #eae0fe;
    transition: 0.3s ease-in-out;
}

#site-nav-list.toggled {
    right: 0;
}

@media (min-width: 50em) {
    #site-nav-btn {
        display: none;
    }

    #site-nav-list {
        font-size: 1.2rem;
        position: static;
        background-color: transparent;
        display: flex;
        padding: 0;
    }

    #site-nav-list a {
        padding: 1.2rem;
    }

    #site-nav-list a:hover {
        background-color: #23186e;
        color: #fff;
    }
}

/* Footer */
.site-footer {
    background-color: #7330FA;
    color: #eae0fe;
    padding: 1rem;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
}

.site-footer p {
    margin: 0;
}

/* -------------------------------------------- */
/* Page specific */
/* --------------------------------- */
/* Home */
/* picture tag starts*/
.home-cover img {
    display: block;
    max-width: 100%;
    padding: 0;
}

@media (min-width: 50em) {
    .home-cover img {
        width: 100%;
        height: 40rem;
        object-fit: cover;
    }
}
/* picture tag ends */

.main header {
    text-align: center;
}

.main header h1,
.main header h2 {
    margin: 0;
    background-color: #2f097c;
    color: #ffffff;
    align-content: center;
    padding: 1rem 1rem;
}


.main header h2 {
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 0;
}

.page-container {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.col {
    border-radius: .5rem;
    background-color: #8913FE;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    justify-items: center;
}

.icon-large {
    font-size: 10rem;
    border: .1rem solid #ffffff;
    border-radius: 1rem;
    padding: 0 1rem;
}

.col a {
    color: #ffffff;
    text-align: center;
    border: .08rem solid #ffffff;
    padding: .5rem;
    border-radius: .3rem;
}

.col a:hover {
    color: #8913FE;
    background-color: #fff;
    transition: 0.3s ease-in-out;
}

.col p {
    color: #ffffff;
    text-align: center;
}

@media(min-width: 50em) {
    .page-container {
        flex-direction: row;
        justify-content: center;
    }

    .col {
        max-width: 30rem;
        margin: 1rem
    }
}

/* --------------------------------- */
/* bs-overview */
.bs-overview {
    margin: 1rem;
}

@media(min-width:50em) {
    .about h2,
    .about h3 {
        margin-left: 5rem;
    }

    .about p {
        margin: 1rem auto 1rem 10rem;
    }
}

.what-is-bs img {
    width: 50rem;
    display: block;
    margin-left: auto; 
    margin-right: auto;
}

.conclusion {
    text-align: center;
    font-style: italic;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* --------------------------------- */
/* Library page */

/* library header */

#library-header {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    background-color: #f4f4f4;
    padding: 1rem 2rem 2rem;
    margin: 1rem 0;

}

/* library main */

#library-page-content {
    padding: 0;
}



.library-sidebar {
    /* background-color: #7330FA ; */
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
    margin-bottom: 1rem;
}

.library-sidebar-title {
    background-color: #7330FA;
    display: flex;
    justify-content:space-around;
    align-items: baseline;
}

.library-sidebar h2 {
    margin-bottom: 0;
}

.library-sidebar p {
    margin: 0!important;
    padding: 1rem 1rem;
    text-align: left;
}

/* .library-tips-button {
    position: absolute;
    right: 1rem;
} */

pre {
    background-color: #f5f5f5;
    padding: 0.2em 0.4em;
    border-radius: 4px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); 
    text-transform: none;
}
p {
    margin: 1rem 0;
    line-height: 1rem;
}

.container {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    background-color: #f4f4f4;
}


.modal {
    text-transform: none;
}

.library-images {
    display: flex;
    background-color: #7330FA;
    padding: 2rem;
    justify-content: center;
}

#images img {
    width: 20%;
    margin: 0 1rem;
}


.container h2 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 1.25rem;
    line-height: 1.6;
}

.list-group button{
    background-color: #7330FA ;
    color: white;
}
.library-sidebar
.modal-footer,
.modal-header,
.modal-body {
    background-color: #7330FA;

}

@media (min-width: 50em){
    #library-page-content {
        display: flex;
        padding: 0;
    }
    .library-sidebar {
        display: block;
        width: 20%;
        order: 1;
        margin-right: 1rem;
    }
    .library-sidebar-title {
        display: block;
    }
    .library-content {
        width: 80%;
        order: 2;
    }
    .list-group {
        display: block;
    }
    #list-group {
        display: block; /* Initially hide the element */
        height: auto;
        overflow:auto;
        opacity:inherit;
        visibility:visible;
    }
    .library-tips-button {
        display: none;
    }


}

/* --------------------------------- */
/* SETUP PAGE */

.setup-header {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    background-color: #f4f4f4;
    padding: 2rem;
}

.step h3 {
    border-bottom: 1px solid black;
}

/* --------------------------------- */
/* Credits */

.credits-page {
    padding: 2rem;
}

.credits-page p {
    padding: 0 1rem;
    margin: 1rem;
    word-break: break-all;
    margin: 0;
}


/* --------------------------------- */
